<table style="width:100%">
  <tr>
    <td style="width:60px">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcStl15h5_r0npJUQvdSQed_XMk4Jbyrz_yqusS1Yj0Cng&usqp=CAU&ec=45707743"
        alt="Infor" width="50" height="50" style="display: block;" />
    </td>
    <td align="left" style="font-size:18px;color:#444;font-weight:700;">
      Solicitud cambio de contraseña
    </td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table style="width:100%">
  <tr>
    <td style="color:#444;font-size:17px">
      ¿Necesitas cambiar tu contraseña? Si es así, haz click a continuación para comenzar
    </td>
  </tr>
</table>


<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>


<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td style="border-radius: 2px;" bgcolor="#70A83B">
            <a href="{{ link }}" target="_blank"
              style="padding: 8px 12px; border: 1px solid #70A83B;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
              Cambiar Contraseña
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table style="width:100%">
  <tr>
    <td style="color:#706a7c;font-size:13px">
      Si tienes problemas para hacer click en el botón "Cambiar Contraseña", copia y pega la URL en tu navegador web
    </td>
  </tr>
  <tr>
    <td style="width:60px;font-size:1px">&nbsp;</td>
  </tr>
  <tr>
    <td style="color:#3869D4;font-size:13px">
      {{ link }}
    </td>
  </tr>
</table>


<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>
<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>