<table>
  <tr>
    <td>
      VALORES INGRESADOS
    </td>
  </tr>
</table>

<table border="1">
  <tr>
    <th align="left" style="width:100px;color:#333">Predio</th>
    <td align="left" width="250">Los Laureles del Sur</td>
  </tr>
  <tr>
    <th align="left" style="width:100px;color:#333">Rodal</th>
    <td align="left" width="250">Rodal Cuatro</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table border="1">
  <tr>
    <th align="center" style="width:200px;color:#333">Tipo de bosque</th>
    <th align="center" style="width:120px;color:#333">NHA</th>
    <th align="center" style="width:120px;color:#333">Área Basal</th>
  </tr>
  <tr>
    <td align="center">
      Coihue-Raulí-Tepa
    </td>
    <td align="center">150</td>
    <td align="center">320</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table border="1">
  <tr>
    <th align="center" style="width:120px;color:#333">Latitud</th>
    <th align="center" style="width:120px;color:#333">Longitud</th>
    <th align="center" style="width:200px;color:#333">Fecha</th>
  </tr>
  <tr>
    <td align="center">-76.4873821</td>
    <td align="center">-38.4873821</td>
    <td align="center">14/06/12 6:43 PM</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table>
  <tr>
    <td>RESULTADOS</td>
  </tr>
</table>

<table border="1">
  <tr>
    <th align="center" style="width:120px;color:#333">DMC [cm]</th>
    <th align="center" style="width:120px;color:#333">% de poblamiento</th>
    <th align="center" style="width:200px;color:#333">Densidad línea A</th>
    <th align="center" style="width:200px;color:#333">Densidad línea B</th>
  </tr>
  <tr>
    <td align="center">352</td>
    <td align="center">56</td>
    <td align="center">10</td>
    <td align="center">15</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table>
  <tr>
    <td>
      DETALLE DE PARCELAS
    </td>
  </tr>
</table>

<table border="1">
  <tr>
    <th align="center" style="width:200px;color:#333">Parcela</th>
    <th align="center" style="width:120px;color:#333">Especie</th>
    <th align="center" style="width:105px;color:#333">Árbol</th>
    <th align="center" style="width:105px;color:#333">Altura</th>
    <th align="center" style="width:105px;color:#333">DAP</th>
  </tr>
  <tr>
    <td align="center">
      Mi parcela de tres letras
    </td>
    <td align="center">
      Lenga
    </td>
    <td align="center">5</td>
    <td align="center">15</td>
    <td align="center">310</td>
  </tr>
  <tr>
    <td align="center">
      Mi parcela de tres letras
    </td>
    <td align="center">
      Notro
    </td>
    <td align="center">5</td>
    <td align="center">15</td>
    <td align="center">310</td>
  </tr>
  <tr>
    <td align="center">
      Mi parcela de tres letras
    </td>
    <td align="center">
      Rahulí
    </td>
    <td align="center">5</td>
    <td align="center">15</td>
    <td align="center">310</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table>
  <tr>
    <td>ENCUESTA</td>
  </tr>
</table>

<table border="0" style="border:1px solid #444">
  <tr>
    <th align="left" style="width:350px;color:#333">
      1.- Estratificación vertical:
    </th>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Arboles emergentes</td>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Dosel superior</td>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Regeneración</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table border="0" style="border:1px solid #444">
  <tr>
    <th align="left" style="width:350px;color:#333">
      2.- Distribución de la masa:
    </th>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Irregular con claros pequeños</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table border="0" style="border:1px solid #444">
  <tr>
    <th align="left" style="width:350px;color:#333">
      3.- Participacion especies tolerantes:
    </th>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Nula o casi nula</td>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Formando un estrato intermedio</td>
  </tr>
</table>

<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>

<table style="border:1px solid #444">
  <tr>
    <th align="left" style="width:350px;color:#333">
      4.- Cobertura de dosel:
    </th>
  </tr>
  <tr>
    <td align="left" style="padding-left:25px">Ralo</td>
  </tr>
</table>


<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>
<table>
  <tr>
    <td style="width:60px;">&nbsp;</td>
  </tr>
</table>