import os

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['*']

INSTALLED_APPS = []

MIDDLEWARE = []

ENVIRONMENT = 'DEVELOPMENT'

BASE_DIRR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# run inside cmd or django shell or proper virtual environment
# setup with dependency: cryptography.fernet import Fernet
# key = Fernet.generate_key()
ENCRYPT_KEY = b'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

CKAN_DATABASE = 'ckan'
CKAN_DATABASE_USER = 'ckan'
CKAN_PASSWORD = 'ckan'
CKAN_PORT = '5432'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'xxxx',
        'USER': 'xxxx',
        'PASSWORD': 'xxxxxxxxxx',
        'HOST': 'db',
        'PORT': '5432',
    }
}

'''
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}
'''

# admins
ADMINS = [('Admin', 'admin@gmail.com')]

RECAPTCHA_PUBLIC_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
RECAPTCHA_PRIVATE_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

# v3 drigox

DRF_RECAPTCHA_SECRET_KEY = ''

DRF_RECAPTCHA_VERIFY_ENDPOINT = 'https://www.google.com/recaptcha/api/siteverify'

INSTALLED_APPS = [
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'grappelli.dashboard',
    'grappelli',
    'django.contrib.admin',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
]

'''
# 3rd party apps just dev
INSTALLED_APPS += [
    'debug_toolbar', # added after staticfiles app is required
]

MIDDLEWARE = [
    'debug_toolbar.middleware.DebugToolbarMiddleware',
] + MIDDLEWARE

INTERNAL_IPS = [
    # ...
    '127.0.0.1',
    # ...
]

'''

# CORS_ALLOW_CREDENTIALS = True
CORS_ALLOW_ORIGIN_ALL = False
from corsheaders.defaults import default_headers
CORS_ALLOW_HEADERS = list(default_headers) + [
]


if ENVIRONMENT in ['DEVELOPMENT']:
    CORS_ALLOW_CREDENTIALS = True
    CORS_ORIGIN_WHITELIST = (
        'http://localhost:8080',  # dev
    )
    CSRF_TRUSTED_ORIGINS = (
        'http://localhost:8080',  # dev
    )

elif ENVIRONMENT in ['PRODUCTION']:
    CORS_ALLOW_CREDENTIALS = True
    CORS_ORIGIN_WHITELIST = (
        'http://admin.google.cl',
    )
    CSRF_TRUSTED_ORIGINS = (
        'http://admin.google.cl',
    )
